/* Cart */

.amazon-uy-total-data-container {
  background-color: #fef8f2;
  border-color: #e77600;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  color: black;
  display: block !important;
  float: right;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 300px;
  padding: 10px;
  text-decoration: none !important;
}

.amazon-uy-cart-data {
  position: absolute;
  right: 15%;
}

.amazon-uy-cart-shipping-header {
  color: #555;
  float: right;
  font-size: 13px;
  line-height: 18px;
  margin-right: 100px;
  margin-top: 4px;
}

.amazon-uy-cart-shipping-price {
  color: #B12704;
  font-size: 17px;
  font-weight: 700;
}

.amazon-uy-data-shipping-total-price {
  font-size: 17px;
  font-weight: bold;
  margin-top: 5px;
}

.amazon-uy-data-shipping-total-amount {
  color: #B12704;
  margin-left: 5px;
}

.amazon-uy-data-shipping-total-weight {
  font-size: 15px;
  margin-top: 5px;
}

.amazon-uy-data-shipping-total-weight-amount {
  color: #B12704;
  margin-left: 5px;
}

.amazon-uy-cart-data-row-supplier {
  text-transform: lowercase;
  text-decoration: underline;
}
